.bordoInferiore, ::deep .bordoInferiore {
    border-bottom: 1px solid !important;

}

.margineQuestionario {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right:0.5rem;
}

.bordoDomanda {
    margin-left: 3rem !important;
}

@media(max-width: 768px) {

    .bordoDomanda {
        margin-left: 0.2rem !important;
    }

    .margineQuestionario {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

}