.cardClass {
    border-radius: 0.8rem !important;
    background: #FFF;
    border-color: var(--border-Card);
    padding: 1rem 2.5rem !important;
    background-color: var(--card-background-color) !important;
}

.marginMobile {
    margin-top: 1.5rem !important;
    margin: 1.5rem !important;
}


li { background: none;}
li:nth-child(odd) { background: var(--axt-table-striped-bg); }

hr {
    margin: 0 !important;
}

.marginListEntry {
    margin-inline: 1rem !important;
    padding-block: 0.5rem !important;
}
