::deep .buttonDelete {
    background-color: #ff9f9f !important;
}

::deep .buttonEdit {
    background-color: #ffe8a1 !important;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: var(--axt-table-striped-bg);
}

.table-striped > tbody > tr > td:not(:last-child),
.table-striped > tbody > tr > th:not(:last-child) {
    border-right: 1px solid #AFCAF3;
}

tbody, td, tfoot, th, thead, tr {
/*    border-color: inherit;
    border-style: solid;*/
    border-width: 0;
}