@inject NavigationService Navigation

<div class="divComponent">
    <div class="card shadow documentCard" onclick="@(()=>OnDocumentClick())">
        <RadzenIcon Icon="description" IconStyle="IconStyle.Primary" class="documentIcon" />
    </div>
    <RadzenText Text="@Document.Title" TextStyle="TextStyle.Caption" class="documentTitle" />
</div>
