@inject NavigationService Navigation

<div class="card shadow documentCard" onclick="@(()=>OnDocumentClick())">
    <RadzenIcon Icon="description" IconStyle="IconStyle.Primary" class="documentIcon" />
    <RadzenText Text="@Document.Title" TextStyle="TextStyle.Subtitle1" class="documentTitle" />
</div>