
.documentCard {
    width: 240px;
    border-radius: 1.5rem !important;
}

.documentTitle, ::deep .documentTitle {
    margin: 0 1rem;
    text-align:center;
}

.documentIcon, ::deep .documentIcon {
    font-size: 15rem !important;
}