@using Shared.Documents
@using ConstructionSiteLibrary.Model.DocumentCompilation

@inject DialogService DialogService

<ScreenComponent @ref="screenComponent" />

<div class="vstack documentSection">
    <div class="row SectionTitleDiv">
        <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center">
            <strong>
                @DocumentCompilationUtils.Attachment
            </strong>
        </RadzenText>
    </div>
    @foreach (var cat in visualCategories)
    {
        foreach (var elem in cat.Category.Questions)
        {
            if (elem.Attachments.Count > 0)
            {
                <div class="pdfElement paddingSezione">
                    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Start" Gap="0">
                        <RadzenColumn Size="1" class="rz-text-align-center paddingYResponsive">
                            <RadzenText TextStyle="TextStyle.H6">@DocumentCompilationUtils.QuestionNumber(cat.Category, elem.Order)</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenRow>
                                @foreach (var attach in elem.Attachments)
                                {
                                    <RadzenImage Path="@attach.Image" Style="width:8rem;" />
                                }
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                </div>
            }
        }
    }

</div>

@code {

    [Parameter]
    public List<DocumentCategoryModel> Categories { get; set; } = [];

    private List<VisualCategory> visualCategories { get; set; } = [];

    ScreenComponent? screenComponent;


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        visualCategories = DocumentCompilationUtils.CreateVisualCategories(Categories);
    }

    private void DeleteAttachment(List<AttachmentModel> attachments, AttachmentModel attachment)
    {
        attachments.Remove(attachment);
        visualCategories = DocumentCompilationUtils.CreateVisualCategories(Categories);
    }

}
