@using Shared.Documents;
@using ConstructionSiteLibrary.Model.DocumentCompilation

@inject DialogService DialogService


@if (onLoading)
{
    <Loading />
}
else
{
    <div>
        <div class="vstack documentSection">
            <div class="marginYResponsive2">
                <div class="row SectionTitleDiv">
                    <RadzenText TextStyle="TextStyle.DisplayH6" TextAlign="TextAlign.Center" class="SectionTitle">
                        <strong>
                            @DocumentCompilationUtils.Companies
                        </strong>
                    </RadzenText>
                </div>

                @foreach (var company in Companies)
                {
                    <div class="border marginYResponsive paddingSezione">
                        <div class=" row my-2 borderBottom">
                            <div class="col ">
                                <RadzenText>Impresa Esecutrice</RadzenText>
                            </div>
                            <div class="col impresaEsecutrice">
                                <RadzenRow>
                                    <RadzenLabel Text="Presente" Component="Presente" />
                                    <RadzenCheckBox Value="@company.Present" Name="Presente" TValue="bool?" Change="@(args=>AddPresent(args, company))" />
                                </RadzenRow>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-6 my-2">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Ragione Sociale: </RadzenText>
                                <RadzenTextArea Placeholder="Inserisci Ragione Sociale"
                                                Change=@(args => OnChange(args, "RagioneSociale"))
                                                class="w-100" @bind-Value=@company.CompanyName />
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Sede legale: </RadzenText>
                                <RadzenTextArea Placeholder="Inserisci Sede Legale"
                                                Change=@(args => OnChange(args, "Sedelegale"))
                                                class="w-100" @bind-Value=@company.Address />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-6 my-2">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Lavori previsti: </RadzenText>
                                <RadzenTextArea Placeholder="Inserisci Lavori previsti"
                                                Change=@(args => OnChange(args, "LavoriPrevisti"))
                                                class="w-100" @bind-Value=@company.JobsDescriptions />
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">P. Iva: </RadzenText>
                                <RadzenTextArea Placeholder="Inserisci P. Iva"
                                                Change=@(args => OnChange(args, "PIva"))
                                                class="w-100" @bind-Value=@company.VatCode />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-md-6 my-2">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Reponsabile: </RadzenText>
                                <RadzenTextArea Placeholder="Reponsabile"
                                                Change=@(args => OnChange(args, "Responsabile"))
                                                class="w-100" @bind-Value=@company.InChargeWorker />
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Lavoratori: </RadzenText>
                                <RadzenTextArea Placeholder="Lavoratori"
                                                Change=@(args => OnChange(args, "PIva"))
                                                class="w-100" @bind-Value=@company.Workers />
                            </div>
                        </div>
                    </div>
                }

                <div class="text-center">
                    <RadzenSplitButton Click=@(args => AddCompany(args)) AlwaysOpenPopup=true Text="Aggiungi">
                        <ChildContent>
                            <RadzenSplitButtonItem Text="Da anagrafica" Value="Anagrafica" />
                            <RadzenSplitButtonItem Text="Nuova" Value="Nuova" />
                        </ChildContent>
                    </RadzenSplitButton>                
                </div>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public List<CompanyModel> Companies { get; set; } = [];

    private bool onLoading = false;


    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();
        onLoading = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    private void AddPresent(bool? isPresent, CompanyModel company)
    {
        company.Present = isPresent.HasValue ? isPresent.Value : false;
    }

    private async Task AddCompany(RadzenSplitButtonItem item)
    {
        if(item.Value.Equals("Anagrafica"))
        {
            //popup
            // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
            var additionalStyle = $"min-height:fit-content;height:fit-content;max-width:600px";
            var newOptions = new DialogOptions
                {
                    Style = additionalStyle
                };
            //creo parametri da inviare al componente caricato con il popup
            var param = new Dictionary<string, object>
            {
               
                { "PresentCompanies", Companies },
            }; 
            CompanyModel? selectedCompany = await DialogService.OpenAsync<FormAddCompany>("Seleziona azienda", parameters: param,  options: newOptions);

            if(selectedCompany is not null)
            {
                selectedCompany.Present = true;
                Companies.Add(selectedCompany);
            }
        }
        else
        {
            Companies.Add(new CompanyModel(){Present = true});
        }
    }

    private void OnChange(string? args, string name)
    {

    }
}
