
.SectionTitleDiv {
    border: solid 1px black;
    padding: 0.5rem;
    background-color: #ebebeb;
    margin: 0rem;
}

.SectionTitle,
::deep .SectionTitle {
    margin: 0px;
}

.SectionTitle, ::deep .SectionTitle {
    margin: 0px;
}

.spaceBetween, ::deep .spaceBetween {
    justify-content: space-between !important;
}

.paddingSezione, ::deep .paddingSezione {
    padding: 0rem 0.7rem 0.7rem 0.7rem;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.marginYResponsive {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.marginYResponsive2 {
    margin-top: 1.5rem !important;
}

.row-button, ::deep .row-button{
    justify-content:space-between !important;
    width:100%;
}

.present-container {
    padding-top: 5px;
}

.deletebutton-container > button{
    padding:0px !important;
}
.impresaEsecutrice {
    justify-content: flex-end;
    display: flex;
    margin-right: 1rem;
}

@media(max-width: 768px) {

    .SectionTitleDiv {
        border: solid 1px black;
        padding: 0.5rem;
        background-color: #ebebeb;
        margin: 0;
    }

    .documentSection {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .paddingSezione, ::deep .paddingSezione {
        padding: 0rem 0.7rem 0.7rem 0.7rem;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .marginYResponsive {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .marginYResponsive2 {
        margin-top: 0.5rem !important;
    }
}