@using ConstructionSiteLibrary.Model
@using Shared.Documents;

@inject DialogService DialogService

<ScreenComponent @ref="screenComponent" />
@if (onLoading)
{
    <Loading />
}
else
{
    <div class="vstack p-3">
        @foreach (var reportedCompany in CompaniesQuestionsReported)
        {
@*             if (reportedCompany.ReportedQuestions.Any())
            { *@
                <RadzenText>Per: <strong>@reportedCompany.Company.CompanyName</strong></RadzenText>
                @if (!string.IsNullOrEmpty(reportedCompany.Sign))
                {
                    <image src="@reportedCompany.Sign" />
                }
                <RadzenButton Text="Firma" Click="@(() => OpenSignaturePad(reportedCompany))" />
                <RadzenText>Quesiti contestati</RadzenText>
                <RadzenRow>
                    @foreach (var questionIds in reportedCompany.ReportedQuestions)
                    {
                        <RadzenText>@questionIds.MarkByOrder()</RadzenText>
                    }
                </RadzenRow>
@*             } *@
        }
    </div>

}


@code {

    [Parameter]
    public DocumentModel Document { get; set; } = new();

    private List<CompanyQuestionsReported> CompaniesQuestionsReported = [];

    private bool onLoading = false;

    private ScreenComponent screenComponent;

    private Modale modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        onLoading = true;
        await base.OnInitializedAsync();

    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        LoadData();
        onLoading = false;
    }

    private void LoadData()
    {
        CompaniesQuestionsReported = [];
        foreach (var company in Document.Companies)
        {
            CompaniesQuestionsReported.Add(new CompanyQuestionsReported()
                {
                    Company = company,
                });
        }

        foreach (var category in Document.Categories)
        {
            foreach (var question in category.Questions)
            {
                foreach (var currentChoice in question.CurrentChoices)
                {
                    foreach (var companyId in currentChoice.ReportedCompanyIds)
                    {
                        var reportedCompany = CompaniesQuestionsReported.Where(x => x.Company.Id == companyId).First();
                        reportedCompany.ReportedQuestions.Add(new CateogoryQuestionIds()
                            {
                                CategoryId = category.Id,
                                CategoryOrder = category.Order,
                                QuestionId = question.Id,
                                QuestionOrder = question.Order,
                            });
                    }
                }
            }
        }
    }

    private async Task OpenSignaturePad(CompanyQuestionsReported cqr)
    {
        var width = screenComponent.ScreenSize.Width;
        var height = screenComponent.ScreenSize.Height;
        var canvasHeight = height - 200;
        var canvasWidth = width - 40;
        Console.WriteLine("Height: " + height);

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"height:{height};width:{width}px; position:static !important";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
        {
            //tra i parametri che invio al dialog creo un EventCallback da passare al componente
            { "OnSavedSignature", EventCallback.Factory.Create<Signature>(this, ShowSignature) },
            { "ExtraObject" , cqr },
            { "CanvasHeight" , canvasHeight },
            { "CanvasWidth" , canvasWidth },
        };
        await DialogService.OpenAsync<SignatureComponent>("Firma", parameters: param, options: newOptions);

    }


    private void ShowSignature(Signature signature)
    {
        DialogService.Close();
        var curretCompany = signature.ExtraObject as CompanyQuestionsReported;

        curretCompany!.Sign = signature.Image;
        StateHasChanged();
    }

    class CompanyQuestionsReported
    {
        public CompanyModel Company = new();

        public List<CateogoryQuestionIds> ReportedQuestions = [];

        public string Sign = "";


    }

    class CateogoryQuestionIds
    {
        public int CategoryId;
        public int CategoryOrder;
        public int QuestionId;
        public int QuestionOrder;

        public string MarkById()
        {
            return $"{CategoryId}.{QuestionId}";
        }

        public string MarkByOrder()
        {
            return $"{CategoryOrder}.{QuestionOrder}";
        }
    }

}
