@using Shared.Documents

<div>
    @* <RadzenTextArea @bind-Value="notes" Rows="5" Style="width:100%" />
    <div class="row justify-content-center">
        <RadzenButton Icon="save" Text="Salva" Click="@Save" Style="width: 170px;" />
    </div> *@
</div>



@code {

    [Parameter]
    public EventCallback<NoteModel> OnDocumentNoteChanged { get; set; }

    [Parameter]
    public NoteModel? Note { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        LoadData();
    }

    private void LoadData()
    {

    }

    private void Save()
    {
        OnDocumentNoteChanged.InvokeAsync();
    }
}