@using Shared.Documents

<div>
    <RadzenTextArea @bind-Value="notes" Rows="5" Style="width:100%" />
    <div class="row justify-content-center">
        <RadzenButton Icon="save" Text="Salva" Click="@Save" Style="width: 170px;" />
    </div>
</div>



@code {

    [Parameter]
    public EventCallback OnQuestionNoteChanged{ get; set; }

    [Parameter]
    public DocumentQuestionModel Question { get; set; } = new();

    private string notes { get; set; } = "";


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        LoadData();
    }

    private void LoadData()
    {
        if(Question is not null)
        {
            notes = Question.Note;
        }
    }

    private void Save()
    {
        Question.Note = notes;
        OnQuestionNoteChanged.InvokeAsync();
    }
}