.bordoInferiore, ::deep .bordoInferiore {
    border-bottom: 1px solid !important;
}

.margineDomande {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.categoria {
    margin: 0.5rem;
    padding: 0.5rem;
}

.bordoDomanda {
    margin-left: 0.5rem !important;
}

.questionario, ::deep .questionario {
    margin: 1rem 2rem;
    font-weight: 400;
}

.buttonPhoto, ::deep .buttonPhoto {
    margin: 0rem 0.5rem 0.5rem 0rem !important;
}

.buttonChoice, ::deep .buttonChoice {
    margin: 0rem 0rem 0rem 0rem !important;
}

.selectChoice, ::deep .selectChoice{
    width:400px;
}


/* */



.SectionTitleDiv, ::deep .SectionTitleDiv {
    border: solid 1px black;
    padding: 0.5rem;
    background-color: #ebebeb;
    margin: 0rem;
}

.documentSection {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.SectionTitle, ::deep .SectionTitle {
    margin: 0px;
}

.spaceBetween, ::deep .spaceBetween {
    justify-content: space-between !important;
}

.borderBottom, ::deep .borderBottom {
    border-bottom: solid 1px #dee2e6;
}

.paddingSezione, ::deep .paddingSezione {
    padding: 0rem 0.7rem 0.7rem 0.7rem;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}


.marginYResponsive {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.marginYResponsive2 {
    margin-top: 1.5rem !important;
}

.marginXResponsive {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}


@media(max-width: 768px) {

    .categoria {
        margin: 0rem;
        padding: 0rem;
    }

    .bordoDomanda {
        margin-left: 0rem!important;
    }

    .margineDomande {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .questionario, ::deep .questionario {
        margin: 0rem 0.4rem;
        font-weight: 400;
    }

    .selectChoice, ::deep .selectChoice {
        width: 250px;
    }

    .SectionTitleDiv {
        border: solid 1px black;
        padding: 0.5rem;
        background-color: #ebebeb;
        margin: 0;
    }

    .documentSection {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .paddingSezione, ::deep .paddingSezione {
        padding: 0rem 0rem 0rem 0rem;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .marginYResponsive {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .marginYResponsive2 {
        margin-top: 0.5rem !important;
    }

    .marginXResponsive {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        margin-top: 0.5rem;
    }

    .margineDomande {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding:0.5rem;
    }
}
