.bordoInferiore, ::deep .bordoInferiore {
    border-bottom: 1px solid !important;
}

.margineDomande {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.categoria {
    margin: 0.5rem;
    padding: 0.5rem;
}

.bordoDomanda {
    margin-left: 0.5rem !important;
}

.questionario, ::deep .questionario {
    margin: 1rem 2rem;
    font-weight: 400;
}

.buttonPhoto, ::deep .buttonPhoto {
    margin: 0rem 0rem 0.5rem 0rem !important;
}

.buttonChoice, ::deep .buttonChoice {
    margin: 0rem 0rem 0rem 0rem !important;
}

.selectChoice, ::deep .selectChoice{
    width:400px;
}


/* */

.SectionTitleDiv, ::deep .SectionTitleDiv {
    border: solid 1px black;
    padding: 0.5rem;
    background-color: #ebebeb;

}

.SectionTitle, ::deep .SectionTitle {
    margin: 0px;
}

.spaceBetween, ::deep .spaceBetween {
    justify-content: space-between !important;
}

.borderBottom, ::deep .borderBottom {
    border-bottom: solid 1px #dee2e6;
}

.paddingSezione, ::deep .paddingSezione {
    padding: 0rem 0.7rem 0.7rem 0.7rem;
}



@media(max-width: 768px) {

    .categoria {
        margin: 0rem;
        padding: 0rem;
    }

    .bordoDomanda {
        margin-left: 0.2rem !important;
    }

    .questionario, ::deep .questionario {
        margin: 0rem 0.4rem;
        font-weight: 400;
    }

    .selectChoice, ::deep .selectChoice {
        width: 280px;
    }
}
