@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@inject HttpManager HttpManager
@inject QuestionRepository QuestionRepository


<div class="">
    <RadzenTemplateForm TItem="FormChoiceData" Data=@form Submit=@Save>
        <RadzenStack class="px-2">
            <RadzenFormField Text="Tag - Max 10 caratteri<span style='color:red'> (obbligatorio)</span>" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Tag" @bind-Value="@form.Tag" MaxLength="10" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Tag" Popup=false Text="Il campo Tag è obbligatorio" />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Valore <span style='color:red'> (obbligatorio)</span>" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Value" @bind-Value="@form.Value" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Value" Popup=false Text="Il campo Valore è obbligatorio" />
                </Helper>
            </RadzenFormField>

            <div class="rz-text-align-left">
                <RadzenLabel Text="Da segnalare" Component="ReportableFlag" Style="margin-right: 8px; vertical-align: middle;" />
                <RadzenCheckBox @bind-Value=@form.Reportable Name="ReportableFlag" />
            </div>

            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salva" class="buttonSalva" IsBusy=@onSaving
                BusyText="Salvataggio in corso" />
        </RadzenStack>
    </RadzenTemplateForm>
</div>
