.text-field,
::deep .text-field {
    width: 100% !important;
}

::deep .buttonOptions {
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--rz-primary) !important;
}

.profile-img {
    object-fit: cover;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.button2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.col-avatar {
    position: relative;
    max-width: 200px;
    min-width: 200px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    /*min-width: 160px;*/
    overflow: auto;
    z-index: 1;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.dropdown-close {
    display: none;
}

.dropdown-open {
    display: block;
}