/* Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Boostrap Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    /* Font */
    --font: Inter;
    --font-Card-color1: #0C336E;
    /* Colori principali APP */
    --rz-primary: #0C336E !important;
    --rz-primary-light: #0065ff !important;
    --rz-primary-lighter: #418bff !important;
    --rz-primary-dark: #1d5bbb !important;
    --rz-primary-darker: #124188 !important;
    --rz-secondary: #ff0e0e !important;
    --rz-secondary-light: #ff0e0e !important;
    --rz-secondary-lighter: #ff7151 !important;
    --rz-secondary-dark: #c34800 !important;
    --rz-secondary-darker: #c90000 !important;
    --rz-info: #0C336E !important;
    /* Colori background */
    --page-background-color: #F1F4F7 !important;
    --card-background-color: white !important;
    --card-background-color-hover: white !important;
    /* Dimensioni Sidebar */
    --sidebar-width-open: 370px !important;
    --sidebar-width-close: 80px !important;
    --sidebar-top-hight: 186px !important;
    --nav-item-border-radius: 8px !important;
    /* Colori sidebar */
    --nav-item-selected-bg: #07234F !important;
    --nav-item-color: white !important;
    --sidebar-color: #0C336E !important;
    --sidebar-separator-color: #6787B8 !important;
    /*    --topRow-Background-Color: #0C336E !important;
    --topRow-Background-alpha: rgba(0, 0, 0, 0.2) !important;*/
    /* Bordi */
    --border-Card: #afcaf3 !important;
    /* Colori tabelle */
    --axt-table-striped-bg: rgba(175, 201, 243, 0.15) !important; 
    /* Colori azioni */
    --action-delete: #ff0e0e !important;
    --action-edit: #0065ff !important;
}
