:root {
    /* Colori principali APP */
    --rz-primary: #256fe1 !important;
    --rz-primary-lighter: #418bff !important;
    --rz-primary-light: #0064ff !important;
    --rz-primary-dark: #1d5bbb !important;
    --rz-primary-darker: #124188 !important;
    --rz-secondary: #ff5e00 !important;
    --rz-secondary-lighter: #ff7151 !important;
    --rz-secondary-light: #ff0e0e !important;
    --rz-secondary-dark: #c34800 !important;
    --rz-secondary-darker: #c90000 !important;
    /* Colori sidebar */
    --side-bar-color: #124799 !important;
    --side-bar-color2: #0c336e !important;
    --topRow-Background-Color: #f7f7f7 !important;
    --topRow-Background-alpha: rgba(0, 0, 0, 0.2) !important;
    /* Bottoni particolari */
    --button-Delete: #b1b1b1 !important;
    --button-Confirm: #D51116 !important;
    --button-Info: #dbdbdb !important;
    /* Background elementi */
    --background-page-color: #FFFFFF !important;
    --background-Card-color1: #f6fbff !important;
    --background-Card-color2: #f7f7f7 !important;
    --background-Card-color3: #f1f1f1 !important;
    --background-tabella-color1: #ffffff !important;
}
