.bordoInferiore, ::deep .bordoInferiore {
    border-bottom: 1px solid !important;
}

.margineDomande {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.categoria {
    margin: 0.5rem;
    padding: 0.5rem;
}

.bordoDomanda {
    margin-left: 3rem !important;
}

.titoloDocumento, ::deep .titoloDocumento {
    justify-content: center !important;
    padding-top:3rem;
}

.questionario, ::deep .questionario {
    margin: 1rem 2rem;
    font-weight: 400;
}

.documento{
    padding-bottom: 1.5rem;
}

@media(max-width: 768px) {

    .categoria {
        margin: 0rem;
        padding: 0rem;
    }

    .bordoDomanda {
        margin-left: 0.2rem !important;
    }

    .margineQuestionario {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .questionario, ::deep .questionario {
        margin: 0rem 0.4rem;
        font-weight: 400;
    }
}
