@using ClientWebApp.Managers
@using ClientWebApp.Repositories
@using Shared;

@inject CategoriesRepository CategoriesRepository
@inject DialogService DialogService

@if (initialLoading)
{
    <Loading />
}
else
{
    <h2>@Param</h2>

    <div class="mt-4 m-5">
    @foreach(var category in categories)
    {
        var oggetto = new IdCategoryAndQuestions() {Id = category.Id};
        selected.Add(oggetto);
        <RadzenCheckBoxList class="fw-bold" @bind-Value=@oggetto.QuestionIds AllowSelectAll="true" SelectAllText=@category.Text TValue="int" Orientation="Orientation.Vertical"  >
        <Items> 
        @foreach(var question in category.Questions)
        {
            <RadzenCheckBoxListItem class="ps-3 fw-normal" Text=@question.Text Value=@question.Id />
        }
        </Items>
        </RadzenCheckBoxList> 
    }
    </div>

}

    
