@using ClientWebApp.Managers
@using ClientWebApp.Repositories
@using Shared;

@inject CategoriesRepository CategoriesRepository
@inject DialogService DialogService

@if (initialLoading)
{
    <Loading />
}
else
{
    <h2>@Param</h2>

    <div class="mt-4 m-5">
        @foreach (var s in selected)
        {
            <RadzenCheckBoxList Value="@s.QuestionIds" class="fw-bold" AllowSelectAll="true" SelectAllText=@s.Text TValue="int" Orientation="Orientation.Vertical">
                <Items>
                    @foreach(var q in s.Questions)
                    {
                        <RadzenCheckBoxListItem class="ps-3 fw-normal" Value="@q.Id" Text="@q.Text" />
                    }

                </Items>
            </RadzenCheckBoxList>
            first = false;
        }
    </div>

}


