@using ConstructionSiteLibrary.Model
@using Microsoft.JSInterop
@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject IndexedDBService DBService

<div class="page">
    <div class="sidebar" style="@IconMenuCssClass">
        <NavMenu ShowIconMenu="ToggleIconMenu"/>
    </div>
    

    <main>
        <article class="content articlePadding">
            @Body
        </article>
    </main>
    <RadzenComponents />
</div>

@code{
    private bool _iconMenuActive { get; set; }
    private string? IconMenuCssClass => _iconMenuActive ? "width: 80px;" : null;


    protected override async Task OnInitializedAsync()
    {
        //inizializzo 
        await base.OnInitializedAsync();
        await InitializeIndexedDB();
    }

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }

    /// <summary>
    /// Controllo subito che i indexedDB sia supportato e lo attivo
    /// </summary>
    /// <returns></returns>
    private async Task InitializeIndexedDB()
    {
        var dbSupport = await DBService.Init(JS);
        if (dbSupport)
        {
            await DBService.OpenDB();
        }
    }
  
}
