@using ConstructionSiteLibrary.Model
@using ConstructionSiteLibrary.Services
@using ConstructionSiteLibrary.Managers
@inject ScreenManager ScreenManager

@inherits LayoutComponentBase


<ScreenComponent @ref="@screenComponent" SizeM="GlobalVariables.MinNavbarPx" OnScreenDimensionChanged="ScreenDimensionObserver" />
<div class="page">
    <div class="sidebar" style="@IconMenuCssClass">
        <NavMenu ShowIconMenu="ToggleIconMenu" IconMenuActive="@_iconMenuActive"/>
    </div>
    

    <main>
        <article class="content articlePadding">
            @Body
        </article>
    </main>
    <RadzenComponents />
</div>

@code{
    private ScreenComponent? screenComponent;
    private bool _iconMenuActive  = false;
    private NavbarState navbarState = NavbarState.Open;
    private string? IconMenuCssClass => navbarState switch
    {
        NavbarState.Collapse => "",
        _ => $"width:{(int)navbarState}px;"
    };

    protected override async Task OnInitializedAsync()
    {
        //inizializzo 
        await base.OnInitializedAsync();
    }

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
        navbarState = _iconMenuActive ? NavbarState.Close : NavbarState.Open;
        UpdateScreenManagerNavbarSize();
    }

    private void ScreenDimensionObserver(ScreenDimension? dimension)
    {
        if (dimension == ScreenDimension.S || dimension == ScreenDimension.XS)
        {
            _iconMenuActive = false;
            navbarState = NavbarState.Collapse;
            UpdateScreenManagerNavbarSize();
            StateHasChanged();
        } else
        {
            navbarState = navbarState == NavbarState.Collapse ? NavbarState.Open : navbarState;
            UpdateScreenManagerNavbarSize();
        }
    }

    private void UpdateScreenManagerNavbarSize()
    {
        ScreenManager.SetNavbarWidth((int)navbarState);
    }

}
