@using ConstructionSiteLibrary.Model
@using ConstructionSiteLibrary.Services

@inherits LayoutComponentBase
@inject GlobalVariables GVariables


<ScreenComponent @ref="@screenComponent" SizeS="641" OnScreenDimensionChanged="ScreenDimensionObserver" />
<div class="page">
    <div class="sidebar" style="@IconMenuCssClass">
        <NavMenu ShowIconMenu="ToggleIconMenu" IconMenuActive="@_iconMenuActive"/>
    </div>
    

    <main>
        <article class="content articlePadding">
            @Body
        </article>
    </main>
    <RadzenComponents />
</div>

@code{
    private ScreenComponent screenComponent;
    private bool _iconMenuActive  = false;
    private NavbarState navbarState = NavbarState.Open;
    private string? IconMenuCssClass => navbarState switch
    {
        NavbarState.Open => $"width:{GlobalVariables.NavbarWidthOpen};",
        NavbarState.Close => $"width:{GlobalVariables.NavbarWidthClosed};",
        NavbarState.Collapse => "",
        _ => ""
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var size = screenComponent.GetScreenSize();
        Console.WriteLine("ciao");
        if(size.Width < 641)
        {
            navbarState = NavbarState.Collapse;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //inizializzo 
        await base.OnInitializedAsync();
    }

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;

        navbarState = _iconMenuActive ? NavbarState.Close : NavbarState.Open;

    }

    private void ScreenDimensionObserver(ScreenDimension? dimension)
    {
        if (dimension == ScreenDimension.S)
        {
            _iconMenuActive = false;
            navbarState = NavbarState.Collapse;
            StateHasChanged();
        }
    }


  
}
