
.searchBar, ::deep .searchBar {
    width: 95% !important;
}

.divSearchBar {
    align-content: center !important;
    display:flex !important;
    flex-wrap:wrap;
}

.cardContainer{
/*    max-width:800px;
    justify-content:center;*/

}

.buttonNewSite, ::deep .buttonNewSite {
    margin-top:2rem !important;
    width: 95%;
    height:50px;
    border-radius: 2rem !important;

}

.textNewSite, ::deep .textNewSite {
    color: white;
    margin-top: 0.6rem;
}