
.round-border {
    border-radius: 1.2rem !important;
}

.text-bborder {
    margin-bottom:0rem !important
}

.text-size {
    font-size:15px;
}

.cardClass{
    max-width:800px;

}

/* CARDS */
.cardColor1 {
    background-color: var(--background-Card-color1) !important;
}