
.btu-back, ::deep .btu-back {
    min-width: 220px;
}

    .btu-back:hover, ::deep .btu-back:hover {
        background-color: var(--rz-primary) !important;
        color: white !important;
    }

.row-border{
    border-bottom: 1px solid var(--rz-primary);
}

.searchBar, ::deep .searchBar {
    width: 350px !important
}

.btu-section, ::deep .btu-section {
    min-width: 220px;
}

    .btu-section:hover, ::deep .btu-section:hover {
        background-color: var(--rz-primary) !important;
        color: white !important;
    }

.title, ::deep .title {
    margin-top: 20px !important;
}

.documentTitle{
    font-size:20px;
}

.row-padding{
    padding:10px 0px;
}

.text-margin{
    margin:0px !important;
    padding-top: 10px;
}

.margin-top-100{
 margin-top:100px !important;
}

.document-list{
    padding: 0px 20px;
}