
.searchBar, ::deep .searchBar {
    width: 80% !important;
}

.divSearchBar {
    flex: 0 0 auto;
    width: 33.33333333%;
    justify-content: center;
    display: flex !important;
    flex-wrap: wrap;
}

.buttonContainer {
    display:flex;
    justify-content:end;
}

.buttonNewSite, ::deep .buttonNewSite {
    width: 120px;
    height: 40px;
    border-radius: 1.2rem !important;
    margin-right: 1rem;
}

.textNewSite, ::deep .textNewSite {
    color: white;
    margin-top: 0.6rem;
}


.colUtility {
    flex: 0 0 auto;
    width: 33.33333333%;
}

@media(max-width: 1400px) {

    .divSearchBar {
        flex: 0 0 auto;
        width: 66.66666667%;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: end;
    }

    .searchBar, ::deep .searchBar {
        width: 80% !important;
    }

    .buttonNewSite, ::deep .buttonNewSite {
        width: 120px;
        height: 40px;
        border-radius: 1.2rem !important;
        margin-right: 1rem;
    }

    .EmptyColumn {
        display:none;
    }
}

