@using ConstructionSiteLibrary.Components.Choices
@using ConstructionSiteLibrary.Model
@page "/Choices"

<h3>Scelte</h3>



<ScreenComponent MediumWith="800" OnScreenDimensionChanged="ScreenDimensionObserver" />

<DynamicComponent @ref=dynamicComponent Type=@selectedType />

@code
{

    private DynamicComponent? dynamicComponent;
    private Type selectedType = typeof(TableChoice);

    private void ScreenDimensionObserver(ScreenDimension? dimension)
    {
        if (dimension == ScreenDimension.Small)
        {
            selectedType = typeof(TableChoiceMobile);
        }
        else
        {
            selectedType = typeof(TableChoice);
        }

        StateHasChanged();
    }
}