@using ConstructionSiteLibrary.Components.Clients;
@using ConstructionSiteLibrary.Model

@attribute [Route(PageRouting.ClientsPage)]

<h3>Clienti</h3>

<ScreenComponent SizeS="800" OnScreenDimensionChanged="ScreenDimensionObserver" />

<DynamicComponent @ref=dynamicComponent Type=@selectedType/>

@code
{

    private DynamicComponent? dynamicComponent;
    private Type selectedType = typeof(TableClient);

     private void ScreenDimensionObserver(ScreenDimension? dimension)
    {
        if (dimension == ScreenDimension.S)
        {
            selectedType = typeof(TableClientMobile);
        }
        else
        {
            selectedType = typeof(TableClient);
        }

        StateHasChanged();
    }
}