


@using ConstructionSiteLibrary.Components.Companies
@using ConstructionSiteLibrary.Model
@attribute [Route(PageRouting.CompaniesPage)]

<h3>Aziende</h3>

<FormCompanies />

@*<ScreenComponent MediumWith="800" OnScreenDimensionChanged="ScreenDimensionObserver" />*@

@*<DynamicComponent @ref=dynamicComponent Type=@selectedType />*@
