@using ConstructionSiteLibrary.Components.ConstructorSites;
@using ConstructionSiteLibrary.Model

@attribute [Route(PageRouting.ConstructorSitePage)]

<h3>Cantieri</h3>

<ScreenComponent MediumWith="800" OnScreenDimensionChanged="ScreenDimensionObserver" />

<DynamicComponent @ref=dynamicComponent Type=@selectedType />

@code
{

    private DynamicComponent? dynamicComponent;
    private Type selectedType = typeof(TableConstructorSite);

    private void ScreenDimensionObserver(ScreenDimension? dimension)
    {
        if (dimension == ScreenDimension.Small)
        {
            selectedType = typeof(TableConstructorSiteMobile);
        }
        else
        {
            selectedType = typeof(TableConstructorSite);
        }

        StateHasChanged();
    }
}