@using ConstructionSiteLibrary.Components.Documents.Wizard
@attribute [Route(PageRouting.DocumentCreationPage + "{SiteId:int}")]


<div>
    <WizardDocumentCreation SiteId="@SiteId" />
</div>

@code
{
    [Parameter]
    public int SiteId { get; set; }
}