@using ConstructionSiteLibrary.Components.Documents.Compilation;

@attribute [Route(PageRouting.DocumentCompilationPage + "{DocumentId:int}")]

<h3>Compilazione Documenti</h3>

<DocumentCompilation DocumentId="@DocumentId"/>

@code
{
    [Parameter]
    public int DocumentId { get; set; }
}
