@using ConstructionSiteLibrary.Model
@using ConstructionSiteLibrary.Interfaces
@inject ICameraService CameraService;

@page "/"
<ScreenComponent OnScreenSizeChanged="@ScreenSizeChanged"  OnScreenDimensionChanged="@ScreenDimensionChanged"/>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@* <img src="images/Paolo.png" width="400" height="400" />
<RadzenButton Icon="add" Text="Fotocamera" Click=@OpenCameraPage/>

@if(!string.IsNullOrEmpty(PhotoPath))
{
    <img src="@PhotoPath" width="200" height="200" />
    <RadzenImage Path="@PhotoPath" Style="width:200px;height:200px;" AlternateText="url image" />
} *@

<SignatureComponent/>
