@using ConstructionSiteLibrary.Model


@page "/"
<ScreenComponent OnScreenSizeChanged="@ScreenSizeChanged"  OnScreenDimensionChanged="@ScreenDimensionChanged"/>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<RadzenButton Icon="add" Text="ciao"/>
Welcome to your new app.

<Component1/>
