@using ConstructionSiteLibrary.Model
@using ConstructionSiteLibrary.Interfaces
@using ConstructionSiteLibrary.Components.ConstructorSites
@inject ICameraService CameraService

@attribute [Route(PageRouting.HomePage)]

<OnlineSyncComponent />
<ScreenComponent OnScreenSizeChanged="@ScreenSizeChanged" OnScreenDimensionChanged="@ScreenDimensionChanged" />
<PageTitle>I miei cantieri</PageTitle>

<div class="my-3">
    <ConstructorSitesView />
</div>



