@using ConstructionSiteLibrary.Components.Questions;
@using ConstructionSiteLibrary.Model

@attribute [Route(PageRouting.QuestionPage)]

<h3>Domande</h3>

<ScreenComponent SizeS="800" OnScreenDimensionChanged="ScreenDimensionObserver" />

<DynamicComponent @ref=dynamicComponent Type=@selectedType/>

@code
{

    private DynamicComponent? dynamicComponent;
    private Type selectedType = typeof(TableQuestion);

     private void ScreenDimensionObserver(ScreenDimension? dimension)
    {
        // if (dimension == ScreenDimension.S || dimension == ScreenDimension.XS)
        // {
        //     selectedType = typeof(TableQuestionMobile);
        // }
        // else
        // {
        //     selectedType = typeof(TableQuestion);
        // }

        StateHasChanged();
    }
}
