@using ConstructionSiteLibrary.Components.Templates;
@using Shared.Templates;

@attribute [Route(PageRouting.TemplatePage)]

<h3>Gestione Template</h3>

<TableTemplates />

@*<TemplateCreation SelectedTemplate=@selectedTemplate/>*@

@* @code
{
    TemplateModel? selectedTemplate;

    public void TemplateSelected(TemplateModel tm)
    {
        selectedTemplate = tm;

        StateHasChanged();
    }
} *@