@using ConstructionSiteLibrary.Model.TemplateWizard
@using ConstructionSiteLibrary.Repositories
@using Shared.Templates

@inject TemplatesRepository TemplatesRepository
@inject DialogService DialogService
<ScreenComponent @ref="screenComponent" />
@if (initialLoading)
{
    <Loading />
}
else
{
    <fieldset class="card cardClass round-border divCard mb-2">
        <legend class="fieldset-title">Seleziona una descrizione</legend>
        <RadzenRow>
            <RadzenDropDown @bind-Value=@CurrentSelection Data=@TemplatesDescriptions TextProperty="Title"
                Style="width:70%; max-width: 500px" />
            <RadzenButton Icon="add" Variant="Variant.Text" Click="OpenNewForm" />
        </RadzenRow>


        @if (CurrentSelection is not null)
        {
            <div class="mb-3">
                <RadzenFieldset Text="Descrizione" class="mt-3">
                    <p>
                        @CurrentSelection.Description
                    </p>
                </RadzenFieldset>
            </div>
        }
    </fieldset>



}

@code
{
    List<TemplateDescriptionModel> TemplatesDescriptions = [];

    TemplateDescriptionModel? CurrentSelection;

    [Parameter]
    required public TemplateModel CurrentTemplate { get; set; }

    /// <summary>
    /// booleano che indica se la pagina sta eseguendo il caricamento iniziale
    /// </summary>
    private bool initialLoading;

    ScreenComponent screenComponent;

    protected override async Task OnInitializedAsync()
    {
        initialLoading = true;
        await base.OnInitializedAsync();
        await LoadData();
        initialLoading = false;
    }

    private async Task LoadData()
    {
        TemplatesDescriptions = await TemplatesRepository.GetTemplatesDescriptions();

        if (CurrentTemplate.IdTemplate != 0 && CurrentTemplate.Description.Id != 0)
        {
            CurrentSelection = CurrentTemplate.Description;
        }
        else
        {
            CurrentSelection = TemplatesDescriptions.FirstOrDefault();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (CurrentTemplate.IdTemplate != 0 && CurrentTemplate.Description.Id != 0)
        {
            CurrentSelection = CurrentTemplate.Description;
        }
        else
        {
            CurrentSelection = TemplatesDescriptions.FirstOrDefault();
        }
    }


    private async Task OpenNewForm()
    {
        var width = screenComponent.ScreenSize.Width;

        // creo uno style aggiuntivo da inviare al componente caricato con il popup come options
        var additionalStyle = $"min-height:fit-content;height:fit-content;width:{width}px;max-width:600px";
        var newOptions = new DialogOptions
            {
                Style = additionalStyle
            };
        //creo parametri da inviare al componente caricato con il popup
        var param = new Dictionary<string, object>
{
//tra i parametri che invio al dialog creo un EventCallback da passare al componente
{ "OnSaveComplete", EventCallback.Factory.Create<TemplateDescriptionModel>(this, Reload) },
};
        await DialogService.OpenAsync<FormTemplateDescription>("Nuova scelta", parameters: param, options: newOptions);
    }


    private void Reload(TemplateDescriptionModel desc)
    {
        TemplatesDescriptions.Add(desc);
        CurrentSelection = desc;
        StateHasChanged();
    }
}