@using ConstructionSiteLibrary.Managers
@using ConstructionSiteLibrary.Repositories
@using Shared;

@inject CategoriesRepository CategoriesRepository
@inject TemplatesRepository TemplatesRepository
@inject DialogService DialogService

<ScreenComponent @ref="screenComponent" />
@if (initialLoading)
{
    <Loading />
}
else
{
    <QuestionsSelection @ref="questionsSelection" CurrentTemplate="@CurrentTemplate"/>

    <div class="row">
        <div class="col">
            <RadzenButton Icon="arrow_back" Text="Indietro" Click="@Back" />
        </div>
        <div class="col divForward">
            <RadzenButton Click="@Forward" Icon="arrow_forward" Text="Avanti" class="buttonForward" />
        </div>
    </div>
}
