.activityBar {
    background-color: var(--page-background-color);
    height: 60px;
    width: 100%;
    top: 0;
    padding: 10px 15px 10px 0px !important;
    box-shadow: 0px 15px 15px -20px rgba(0,0,0,0.45);
    position: sticky;
    z-index: 100;
    margin: 0;
}
