

<div class="row">
    <div class="col">
        <p>Pagina 1 di 2</p>
    </div>
    <div class="col">
        <div class="hstack">
            <RadzenButton Icon="arrow_back" />
            <RadzenButton Icon="arrow_forward" />
        </div>
    </div>
</div>


@code {

}
