/* Dropdown */

::deep .buttonOptions {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--rz-primary) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-close {
  display: none;
}

.dropdown-open {
  display: block;
}
/* 
.dropdown-content {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.show {
  display: block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}
